<button (click)="logout()" class="btn-primary button">Logout</button>
<h1>Rooms:</h1>
<div class="container">
  <div class="aside-block-1">

  </div>
  <div class="main_block">
    <div *ngFor="let room of rooms; let i = index" class="block">
      <p class="info">Id:{{room.ID}}|Places:{{room.place}}|Class:{{room.clas}}|Booked:{{room.booked}}|Price:{{room.price}}</p>
    </div>
  </div>
</div>
<h1>Requests:</h1>
<div class="container">
  <div class="aside-block-1">

  </div>
  <div class="main_block">
    <div *ngFor="let request of requests; let i = index" class="block">
      <p class="info">Id:{{request.ID}}|Places:{{request.place}}|Class:{{request.clas}}|Approved:{{request.approved}}|Price:{{request.price}}|IDROOM:{{request.IDROOM}}</p>
    </div>
  </div>
</div>

<h1>Booking</h1>
<p>Room:</p>
<input type="text" (input)="inputHandlerRoom($event)" )>
<p>Request:</p>
<input type="text" (input)="inputHandlerRequest($event)">
<br>
<button (click)="book()">Book</button>
